<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.daudus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <com.daudus.My.MySettings>
            <setting name="ArchiImportDirectory" serializeAs="String">
                <value>c:\Users\david.skarka\Documents\Priv\MTU\</value>
            </setting>
            <setting name="ArchiImportFileElements" serializeAs="String">
                <value>elements.csv</value>
            </setting>
            <setting name="ArchiImportFileProperties" serializeAs="String">
                <value>properties.csv</value>
            </setting>
            <setting name="ArchiImportFileRelations" serializeAs="String">
                <value>relations.csv</value>
            </setting>
            <setting name="ArchiImportFileFormat" serializeAs="String">
                <value>csv</value>
            </setting>
            <setting name="SparxEATargetRepostoryDirectory" serializeAs="String">
                <value>c:\Users\david.skarka\Documents\Priv\MTU\</value>
            </setting>
            <setting name="SparxEATargetRepostoryFile" serializeAs="String">
                <value>MTU2.eap</value>
            </setting>
            <setting name="SparxEATargetRepostoryFormat" serializeAs="String">
                <value>eap</value>
            </setting>
        </com.daudus.My.MySettings>
    </userSettings>
</configuration>